*{
            margin: 0px;
            padding: 0px;
}
img {
    display:none;
    width: 100%;
}
#Property-Photos{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    overflow: auto;
}
    #Property-Photos #Zoom_Message {
        display: none;
        z-index: 20;
        position: absolute;
        left: 50%;
        top: 40px;
        margin: -20px 0px 0px -20px;
        width: 40px;
        height: 40px;
        background-image: url(../res/images/icons/icon_zoom.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
#Property-Photos-Tiles{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}
    #Property-Photos-Tiles div {
        float: left;
        width: 48%;
        padding-bottom: 48%;
        margin: 1%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

#Property_Navigation{
    z-index:12;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    background:#fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
    overflow:hidden;
}
    #Property_Navigation div {
        padding-top: 20px;
        height: 30px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #41636e;
        cursor: pointer;
    }
        #Property_Navigation div i {
            width: 16px;
            height: 30px;
            background-position: center center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }
        #Property_Navigation div.prev {
            float: left;
            margin-right: 8px;
        }
            #Property_Navigation div.prev i {
                float: left;
                background-image: url(../res/images/icons/icon_back.png);
            }
        #Property_Navigation div.next {
            float: left;
        }
            #Property_Navigation div.next i {
                float: right;
                background-image: url(../res/images/icons/icon_go.png);
            }
        #Property_Navigation div.close {
            float: right;
        }
            #Property_Navigation div.close i {
                float: right;
                background-image: url(../res/images/icons/icon_delete.png);
            }
        #Property_Navigation div.list {
            float: right;
            margin-right: 8px;
        }
            #Property_Navigation div.list i {
                float: right;
                background-image: url(../res/images/icons/icon_list.png);
            }