#ContactForm {
    margin: 20px 0px 10px 0px;
    padding-top: 20px;
    font-size: 12px;
    color: #231f20;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top:1px solid #bbb;
}
    #ContactForm div.error-message {
        display: none;
        padding-bottom: 10px;
        font-style: italic;
        color: #be161a;
    }
    #ContactForm input[type=text],
    #ContactForm input[type=tel],
    #ContactForm input[type=email],
    #ContactForm input[type=date],
    #ContactForm input[type=number],
    #ContactForm textarea,
    #ContactForm select {
        width: 100%;
        padding: 0px 8px 0px 8px;
        background: #fff;
        border: 0px;
        font-size: 12px;
        line-height: 32px;
        color: #2b4e5a;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border:1px solid #bbb;
    }
        #ContactForm input.alert,
        #ContactForm textarea.alert,
        #ContactForm select.alert {
            background: #e19799;
        }
    #ContactForm textarea {
        height: 56px;
        line-height: 14px;
    }
    #ContactForm select {
        line-height: normal;
        height: 32px;
    }
    #ContactForm #MainForm{}
        #ContactForm #MainForm label {
            display: block;
            font-size: 12px;
            line-height: 14px;
            color: #2b4e5a;
        }
        #ContactForm #MainForm input[type=text],
        #ContactForm #MainForm input[type=tel],
        #ContactForm #MainForm input[type=email],
        #ContactForm #MainForm textarea {
            margin-bottom: 14px;
        }
        #ContactForm #MainForm textarea {
            height: 112px;
            margin-bottom: 14px;
        }

        #ContactForm #MainForm div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
	    #ContactForm #MainForm #FName
	    {
		    float: left;
		    width: 50%;
		    padding-right: 5px;
	    }
	    #ContactForm #MainForm #LName
	    {
		    float: left;
		    width: 50%;
		    padding-left: 5px;
	    }
	    #ContactForm #MainForm #Email
	    {
		    width: 100%;
		    padding-right: 0px;
	    }
        #ContactForm #MainForm #Phone {
            float: left;
            width: 50%;
            padding-left: 0px;
            padding-right: 5px;
        }
        #ContactForm #MainForm #Ext {
            float: left;
            width: 50%;
            padding-left: 5px;
        }
	    #ContactForm #MainForm #City
	    {
		    width: 100%;
		    padding-right: 0px;
	    }
	    #ContactForm #MainForm #State
	    {
		    float: left;
		    width: 50%;
            padding-left: 0px;
            padding-right: 5px;
	    }
	    #ContactForm #MainForm #Zip
	    {
		    float: left;
            width: 50%;
            padding-left: 5px;
	    }

    #ContactForm #Buttons {
        position: relative;
        padding-right: 0px;
        margin-bottom: 20px;
        overflow: hidden;
    }
        #ContactForm #Buttons #LookingToMove {
            display: none;
            clear: both;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            background: #808B8F;
            color: #ffffff;
            line-height: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #Buttons #LookingToMove:hover {
                cursor: pointer;
                background: #A4AEB1;
            }
        #ContactForm #Buttons span.btn {
            float: right;
            width: 120px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            margin-bottom: 20px;
            border: 0px;
            color: #1c3239;
            font-size: 14px;
            line-height: 40px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            background: #d9c805;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #Buttons a.btn:hover {
                background: #fff200;
            }

    #ContactForm #RelocationForm {
        padding: 0px;
        margin: 10px 0px 10px 0px;
        display: none;
    }
        #ContactForm #RelocationForm > div {
            padding: 0px 0px 10px 0px;
        }
        #ContactForm #RelocationForm div.radios{
            clear: both;
            overflow:hidden;
        }
        #ContactForm #RelocationForm div input.inline-textbox {
            width: 30px;
        }
            #ContactForm #RelocationForm div input.inline-textbox.large {
                width: 80px;
            }
        #ContactForm #RelocationForm div input[type=radio] {
            margin-left: 10px;
        }
        #ContactForm #RelocationForm div label.full-label {
            display: block;
            margin: 0px;
            text-align: left;
            font-weight: bold;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ContactForm #RelocationForm div label.main-label {
            display: block;
            float: left;
            width: 50%;
            padding-right: 5px;
            margin: 0px;
            text-align: right;
            font-weight: bold;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ContactForm #RelocationForm div label.right{
            padding-right: 0px;
            padding-left: 5px;
            line-height: 32px;
            text-align: left;

        }
        #ContactForm #RelocationForm div label.left{
            padding-right: 5px;
            padding-left: 0px;
            line-height: 32px;
            text-align: left;

        }
        #ContactForm #RelocationForm div label.inline-label{
            float: left;
            padding-right: 5px;
            margin: 0px;
            text-align: left;
            font-weight: bold;
        }
        #ContactForm #RelocationForm div.check-list label{
            display: block;
            padding: 3px 0px 3px 0px;
        }
        #ContactForm #RelocationForm div.spaced{
            padding-bottom:10px;
        }
        #ContactForm #RelocationForm div.split-input{
            clear:both;
            overflow:hidden;
        }
            #ContactForm #RelocationForm div.split-input input {
                float: left;
                width: 50%;
            }
    #ContactForm #RelocationButtons {
        overflow: hidden;
    }
        #ContactForm #RelocationButtons a.btn {
            float: right;
            width: 120px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            border: 0px;
            color: #1c3239;
            font-size: 14px;
            line-height: 40px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            background: #d9c805;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #RelocationButtons a.btn:hover {
                background: #fff200;
            }

#Contact_Success{
    display: none;
    font-weight: bold;
    opacity: 0;
}


#ContactInformation {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #ContactInformation h2 {
        padding-bottom: 0px;
    }
    #ContactInformation #Address {
    }
        #ContactInformation #Address p {
            color: #231f20;
            font-size: 14px;
            padding-top: 10px;
        }
            #ContactInformation #Address p b {
                color: #41636e;
            }
    #ContactInformation #MapWrap {
        padding: 5px;
    }
        #ContactInformation #MapWrap #Map {
            width: 100%;
            height: 300px;
            border: solid 1px #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Firefox 3.5 - 3.6 */
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }
    #ContactInformation img {
        max-width: 100%;
    }
