#ContactForm {
    margin: 0px 0px 10px 0px;
    font-size: 12px;
    color: #231f20;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #ContactForm div.error-message {
        display: none;
        padding-bottom: 10px;
        font-style: italic;
        color: #be161a;
    }
    #ContactForm input[type=text],
    #ContactForm input[type=tel],
    #ContactForm input[type=email],
    #ContactForm input[type=date],
    #ContactForm input[type=number],
    #ContactForm textarea,
    #ContactForm select {
        width: 100%;
        padding: 0px 8px 0px 8px;
        background: #cfe1e7;
        border: 0px;
        font-size: 12px;
        line-height: 32px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        #ContactForm input.alert,
        #ContactForm textarea.alert,
        #ContactForm select.alert {
            background: #e19799;
        }
    #ContactForm textarea {
        height: 56px;
        line-height: 14px;
    }
    #ContactForm select {
        line-height: normal;
        height: 32px;
    }
    #ContactForm #MainForm{}
        #ContactForm #MainForm label {
            display: block;
        }
        #ContactForm #MainForm input[type=text],
        #ContactForm #MainForm input[type=tel],
        #ContactForm #MainForm input[type=email],
        #ContactForm #MainForm textarea {
            margin-bottom: 14px;
        }
        #ContactForm #MainForm textarea {
            height: 112px;
            margin-bottom: 14px;
        }

        #ContactForm #MainForm div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
	    #ContactForm #MainForm #FName
	    {
		    float: left;
		    width: 50%;
		    padding-right: 5px;
	    }
	    #ContactForm #MainForm #LName
	    {
		    float: left;
		    width: 50%;
		    padding-left: 5px;
	    }
	    #ContactForm #MainForm #Email
	    {
		    width: 100%;
		    padding-right: 0px;
	    }
        #ContactForm #MainForm #Phone {
            float: left;
            width: 50%;
            padding-left: 0px;
            padding-right: 5px;
        }
        #ContactForm #MainForm #Ext {
            float: left;
            width: 50%;
            padding-left: 5px;
        }
	    #ContactForm #MainForm #City
	    {
		    width: 100%;
		    padding-right: 0px;
	    }
	    #ContactForm #MainForm #State
	    {
		    float: left;
		    width: 50%;
            padding-left: 0px;
            padding-right: 5px;
	    }
	    #ContactForm #MainForm #Zip
	    {
		    float: left;
            width: 50%;
            padding-left: 5px;
	    }

    #ContactForm #Buttons {
        position: relative;
        padding-right: 0px;
        margin-bottom: 20px;
        overflow: hidden;
    }
        #ContactForm #Buttons #LookingToMove {
            clear: both;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            background: #808B8F;
            color: #ffffff;
            line-height: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #Buttons #LookingToMove:hover {
                cursor: pointer;
                background: #A4AEB1;
            }
        #ContactForm #Buttons a.btn {
            float: right;
            width: 120px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            margin-bottom: 20px;
            border: 0px;
            color: #1c3239;
            font-size: 14px;
            line-height: 40px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            background: #d9c805;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #Buttons a.btn:hover {
                background: #fff200;
            }

    #ContactForm #RelocationForm {
        background: #F7F9FA;
        padding: 0px;
        margin: 10px 0px 10px 0px;
        display: none;
    }
        #ContactForm #RelocationForm > div {
            padding: 10px;
            background: #F7F9FA;
        }
            #ContactForm #RelocationForm > div:nth-child(2n+1) {
                background: rgb(231, 238, 241);
            }
        #ContactForm #RelocationForm div input.inline-textbox {
            width: 30px;
        }
            #ContactForm #RelocationForm div input.inline-textbox.large {
                width: 80px;
            }
        #ContactForm #RelocationForm div input[type=radio] {
            margin-left: 10px;
        }
        #ContactForm #RelocationForm div label.full-label {
            display: block;
            margin: 0px;
            text-align: left;
            font-weight: bold;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ContactForm #RelocationForm div label.main-label {
            display: block;
            float: left;
            width: 50%;
            padding-right: 5px;
            margin: 0px;
            text-align: right;
            font-weight: bold;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ContactForm #RelocationForm div label.right{
            padding-right: 0px;
            padding-left: 5px;
            line-height: 32px;
            text-align: left;

        }
        #ContactForm #RelocationForm div label.left{
            padding-right: 5px;
            padding-left: 0px;
            line-height: 32px;
            text-align: left;

        }
        #ContactForm #RelocationForm div label.inline-label{
            float: left;
            padding-right: 5px;
            margin: 0px;
            text-align: left;
            font-weight: bold;
        }
        #ContactForm #RelocationForm div.check-list label{
            display: block;
            padding: 3px 0px 3px 0px;
        }
        #ContactForm #RelocationForm div.spaced{
            padding-bottom:10px;
        }
        #ContactForm #RelocationForm div.split-input{
            clear:both;
            overflow:hidden;
        }
            #ContactForm #RelocationForm div.split-input input {
                float: left;
                width: 50%;
            }
    #ContactForm #RelocationButtons {
        overflow: hidden;
    }
        #ContactForm #RelocationButtons a.btn {
            float: right;
            width: 120px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            border: 0px;
            color: #1c3239;
            font-size: 14px;
            line-height: 40px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            background: #d9c805;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #ContactForm #RelocationButtons a.btn:hover {
                background: #fff200;
            }




#ContactInformation {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #ContactInformation h2 {
        padding-bottom: 0px;
    }
    #ContactInformation #Address {
    }
        #ContactInformation #Address p {
            color: #231f20;
            font-size: 14px;
            padding-top: 10px;
        }
            #ContactInformation #Address p b {
                color: #41636e;
            }
    #ContactInformation #MapWrap {
        padding: 5px;
    }
        #ContactInformation #MapWrap #Map {
            width: 100%;
            height: 300px;
            border: solid 1px #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Firefox 3.5 - 3.6 */
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }
    #ContactInformation img {
        max-width: 100%;
    }
#ContactOverlay {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    background: rgba(255,255,255,.8);
}

#Directions {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 292px;
    padding: 10px;
    margin-left: -146px;
    background: #F7F7F7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #Directions div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        #Directions div label {
            display: block;
            padding: 15px 0px 0px 6px;
            font-size: 12px;
            line-height: 12px;
            color: #231f20;
            font-family: Arial, Tahoma, Verdana, Sans-Serif;
        }
        #Directions div input {
            width: 100%;
            padding: 0px 0px 0px 6px;
            font-family: Arial, Tahoma, Verdana, Sans-Serif;
            font-size: 12px;
            line-height: 24px;
            color: #23375a;
            border: 0;
            background: #cfe1e7;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #Directions div.street {
            width: 100%;
        }
        #Directions div.city {
            float: left;
            width: 50%;
            padding-right: 8px;
        }
        #Directions div.state {
            float: left;
            width: 17%;
            padding-right: 8px;
        }
        #Directions div.zip {
            float: left;
            width: 33%;
        }
        #Directions div.buttons {
            clear: both;
            overflow: hidden;
        }
        #Directions div span {
            float: right;
            height: 14px;
            padding: 8px;
            margin: 8px 2px 3px 6px;
            text-align: center;
            color: #1c3239;
            font-size: 12px;
            cursor: pointer;
            background: #d9c805;
            text-decoration: none;
        }
            #Directions div span:hover {
                background: #fff200;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
